body{
    margin: 0px;
    display: flex;
}
.navegacao{

    display: flex;
    width: 50%;
    padding: 20px;
   
}

.logo{
     display: flex;
     margin: auto;
     justify-content: flex-start;
     align-items: center;
     gap: 20px;
}

.about{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: auto;
}


.botoes{
    display: flex;
    justify-content: space-between;
    margin: 0%;
    gap: 20px;
}

#entrar{
    padding: 7px;
    background-color: rgb(180, 173, 173);
    border-radius: 5px;
    color: rgb(59, 56, 56);
}

#cadastrar{
    background-color: rgb(165, 8, 8);
    padding: 7px;
    border-radius: 5px;
    color: rgb(92, 89, 89);
}

.menu{

    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    color: brown;
}

